<!--
body {
	color:#000000;
	text-decoration:none;
	font-weight:none;
	font-size:8pt;
	font-family:tahoma;
	margin-top:0;
	margin-left:0;
	margin-right:0;
}

td {
	color:#000000;
	text-decoration:none;
	font-weight:none;
	font-size:8pt;
	font-family:tahoma;
}

a:link {
	color:#000000;
	text-decoration:none;
	font-weight:normal;
	font-size:8pt;
	font-family:tahoma;
}

a:visited {
	color:#000000;
	text-decoration:none;
	font-weight:normal;
	font-size:8pt;
	font-family:tahoma;
}

a:active {
	color:#000000;
	text-decoration:none;
	font-weight:normal;
	font-size:8pt;
	font-family:tahoma;
}

a:hover {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:normal;
	font-size:8pt;
	font-family:tahoma;
}

.header {
	color:#000000;
	text-decoration:none;
	font-weight:bold;
	font-size:8pt;
	font-family:tahoma;
}

.normal {
	color:#000000;
	text-decoration:none;
	font-weight:none;
	font-size:8pt;
	font-family:tahoma;
}

input { 
	text-indent : 2px; 
}

input.post, textarea {
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #000000;
	background-color: #5174A0;
	color: #000000;
}

textarea { 
	background: #5174A0 center center no-repeat;
}

* html input.post, * html textarea {
	border-color: #5174A0;
}

input.post:hover, textarea:hover { 
	border-color: #333333;
	background-color: #6174A0;
}

input.post:focus, textarea:focus { border-color: #FFFFFF; color: #FFF; }

input.mainoption {
	background-color: #B2CAFA;
	color: #000000;
	font-weight : bold;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #000;
}

input.mainoption:hover, input.liteoption:hover { border-color: #FFFFFF; }
input.mainoption:focus, input.liteoption:focus { color: #FFF; border-color: #FFFFFF; }
-->